<div class="container">
  <div class="main-board border">
    <h1 class="text-center h-100">Main Board</h1>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">Listed Restaurants</h2>
  <%= render 'shared/owner_restaurants_list' %>
</div>

