<div class="container mt-3 mb-5">
  <% if @booking.date.present? && @booking.date < Date.today %>
    <h5 style="color:red;" class="text-center">Please set a future date</h5>
  <% end %>
  <%= simple_form_for [@restaurant, @booking] do |f| %>
    <%= f.input :date , as: :date, html5: true %>
    <%= f.submit 'Check Availablity' %>
  <% end %>
</div>

<script>

</script>
