<div class="container">
  <%= simple_form_for [@restaurant, @booking], remote: true do |f| %>
    <%= f.input :date , as: :date, html5: true %>
    <%= f.submit 'Check Availablity' %>
  <% end %>
</div>

<script>

</script>
