<div class="Search">
  <div class="container" id="search-form">
    <form class="form-inline justify-content-center" action="/restaurants">
      <label class="sr-only" for="inlineFormInputName2">Category</label>
        <div class="input-group mb-2 mr-sm-2">
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Time</option>
            <option value="1">12:00</option>
            <option value="2">12:30</option>
            <option value="1">13:00</option>
            <option value="2">13:30</option>
            <option value="1">14:00</option>
            <option value="2">14:30</option>
            <option value="1">15:00</option>
            <option value="2">15:30</option>
            <option value="1">16:00</option>
            <option value="2">16:30</option>
            <option value="1">17:00</option>
            <option value="2">17:30</option>
            <option value="1">18:00</option>
            <option value="2">18:30</option>
            <option value="1">19:00</option>
            <option value="2">19:30</option>
            <option value="1">20:00</option>
            <option value="2">20:30</option>
            <option value="1">21:00</option>
            <option value="2">21:30</option>
            <option value="1">22:00</option>
          </select>
        </div>

    <label class="sr-only" for="formPlaceholder2">Date</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
        </div>
        <input type="date" name="date" class="form-control" id="formPlaceholder2" placeholder="Date">
    </div>

      <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
      <div class="input-group mb-2 mr-sm-2">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>Party size</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8+</option>
      </select>
      </div>


    <label class="sr-only" for="formPlaceholder3">Address</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
        </div>
        <input type="text" name="address" class="form-control" id="formPlaceholder3" placeholder="Location">
    </div>

      <input type="submit" value="Search" class="btn btn-primary mb-2">
      <!-- <a href="/beds" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Find</a> -->
    </form>
  </div>
</div>
