<div class="Search">
  <div class="container">
    <form class="form-inline" action="/restaurants">
    <label class="sr-only" for="inlineFormInputName2">Category</label>
    <input type="text" name="category" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Time">

    <label class="sr-only" for="formPlaceholder2">Date</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
        </div>
        <input type="text" name="date" class="form-control" id="formPlaceholder2" placeholder="Date">
    </div>

      <label class="sr-only" for="formPlaceholder2">Date</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
        </div>
        <input type="text" name="date" id="formPlaceholder4"class="form-control" placeholder="Party Size">
    </div>

    <label class="sr-only" for="formPlaceholder3">Address</label>
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
        </div>
        <input type="text" name="address" class="form-control" id="formPlaceholder3" placeholder="Location">
    </div>

      <input type="submit" class="btn btn-primary mb-2">
      <!-- <a href="/beds" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Find</a> -->
    </form>
  </div>
</div>
