<div class="banner">
  <div class="banner-content">
    <h1>Be the best to book the best</h1>
    <p>Make reservations at your favourite restaurants</p>
  <%= render "shared/searchbar" %>
</div>
</div>

