.banner2 {
  background: #34558B;
  display:flex;
    justify-content: space-evenly;
    padding-left: 422px;
    padding-top: 100px;
    padding-bottom: 125px;
    opacity: 0.5;
}
.banner2 h2 {
  color: #34558B;
}
