.banner1 {
  height: 300px;
  align-items: center;
  background-image: image-url("home.png");
  background-size: cover;
  width: 100%;
  opacity:0.5;
}
.banner1 h2 {

  margin-left: 50px;
  color: #34558B;

  padding-top: 75px;
}
