.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 2px solid rgba(28,110,164,0.58);
  border-radius: 4px;
    &:hover {
      border: 2px solid #EFBDEB;
    }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product h3 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  height: 80vh;
  overflow: auto;
  align: left;
  p{
    margin-left: 0px;
    color: #34558B;
    font-family: Rubik, sans-serif;
  }
  a{
    color: #34558B;
    font-family: Rubik, sans-serif;
  }
  &:hover {
    a{
    text-decoration: none;

    }
  }
}
