.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  flex: 0 0 400px;
  position: sticky;
  top: 0;
  border-radius: 4px;
  border: solid 1px #34558B;
  width: 600vw;
}

