.rest-card{
  min-height: 200px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: overflow-x;
}
.card-trip {
  /*float: left;*/
  height: 300px;
  width: 200px;
  margin-bottom: 2rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
}

.card-trip > img {
  margin: 0 auto;
  object-fit: cover;
  width:100%;
}

.card-trip-infos {
  font-size: 85%;
}
