.btn {
  height: 40px;
  width: 200px;
  background-color: #34558B;
  border-color: #34558B;
}
.btn:hover {
  background-color: #EFBDEB;
  border-color: #EFBDEB;
}

#formPlaceholder2 {
  width:200px;
}

#inlineFormInputName2 {
  width: 100px;
}
#formPlaceholder4 {
  width: 150px;
}
.form-inline {
  padding-left: 30px;
}

#search-form.container {
  flex: 0 0 400px;
  position: sticky;
  top: 0;
}
