.btn {
  height: 40px;
  width: 200px;
  background-color: #EFBDEB;
  border-color: #EFBDEB;
}
.btn:hover {
  background-color: #34558B;
  border-color: #34558B;
}

#formPlaceholder2 {
  width:100px;
}

#inlineFormInputName2 {
  width: 100px;
}
#formPlaceholder4 {
  width: 150px;
}
