// .tabpanel {
//   height: 360px;
// }

.nav-link.active {
  background-color: #34558B !important;
}

.nav-link {
  color: #34558B;
}

.tab-pane {
  min-height: 300px;
  p {
    font-size: 16px;
  }
}

.tabpanel-photo {
  object-fit: cover;
  border: 1px solid $light-gray;
  border-radius: 5%;
}
