// .tabpanel {
//   height: 360px;
// }

.nav-link.active {
  background-color: #34558B !important;
}

.nav-link {
  color: #34558B;
}

.tab-pane {
  p {
    min-height: 300px;
    font-size: 16px;
  }
}
