.guest-photo {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 2px solid rgba(28,110,164,0.58);
  border-radius: 4px;
    &:hover {
      border: 2px solid #EFBDEB;
    }
}

.guest-photo img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.guest-photo h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.guest-photo h3 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}


.guest-photo p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.guest-photo .guest-infos {
  padding: 16px;
}

