img {
  border: 1px solid #D7DBDD;
}

.card-product-infos {
  .btn {
    font-size: 12px;
    height: 10%;
    width: 40%;
  }
  // button {
  //   font-size: 8px;
  //   height: 20px;
  //   width: 50px;
  // }
}

