.booking-lists {
  h2 {
    text-align:center;
  }
}

.restaurant-summary {
  position: relative;
  height: 200px;
  a {
    position: absolute;
    top:75px;
    bottom:75px;
    left:200px;
    right:200px;
    z-index: 20;
    margin: 0;
    font-size: 40px;
    color:white;
    text-shadow: 1px 1px #34558B;
    &:hover {
      color: #EFBDEB;
      text-decoration: none;
    }
  }
  img {
    z-index:10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(.6);
  }
}

.booking-card {
  img {
    width: 100%;
  }
  .btn {
    font-size: 12px;
    margin: auto;
    height: 15%;
    width: 80%;
  }
}

.modal-title {
  color: #34558B;
}

.modal-body {
  color: #34558B;
}

.m-5 {
  color: #34558B
}
